# Multi-line Strings

In [1]:
mystr = '''I am a student of Sitare.
I live in Lucknow.
I am studying Python Programming.'''
print(mystr)

I am a student of Sitare.
I live in Lucknow.
I am studying Python Programming.

# String Indices

In [2]:
print(mystr[0],mystr[1],mystr[10])

I   d

# String Slicing

In [3]:
print(mystr[2:6])

am a

# Looping through a String

In [4]:
for c in mystr:
  print(c)

I

a
m

a

s
t
u
d
e
n
t

o
f

S
i
t
a
r
e
.


I

l
i
v
e

i
n

L
u
c
k
n
o
w
.


I

a
m

s
t
u
d
y
i
n
g

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g
.

# String Length

In [5]:
len(mystr)

78

# Check Sub-String Presence

In [6]:
if "student" in mystr:
  print("present")
else:
  print("absent")

present

In [7]:
if "Indore" in mystr:
  print("present")
else:
  print("absent")

absent

# Upper and Lower Case

In [8]:
print(mystr.upper())
print("\n")
print(mystr)

I AM A STUDENT OF SITARE.
I LIVE IN LUCKNOW.
I AM STUDYING PYTHON PROGRAMMING.


I am a student of Sitare.
I live in Lucknow.
I am studying Python Programming.

In [9]:
print(mystr.lower())
print("\n")
print(mystr)

i am a student of sitare.
i live in lucknow.
i am studying python programming.


I am a student of Sitare.
I live in Lucknow.
I am studying Python Programming.

# Remove Whitespace

In [10]:
text = " hello "
print(text.strip())
print("\n")
print(text)

hello


 hello

# Replace Substring

In [11]:
print(mystr.replace('Python', 'Java'))
print("\n")
print(mystr)

I am a student of Sitare.
I live in Lucknow.
I am studying Java Programming.


I am a student of Sitare.
I live in Lucknow.
I am studying Python Programming.

In [12]:
print(mystr.replace('Math', 'Java'))
print("\n")
print(mystr)

I am a student of Sitare.
I live in Lucknow.
I am studying Python Programming.


I am a student of Sitare.
I live in Lucknow.
I am studying Python Programming.

# Split String

In [13]:
print(mystr.split())
print("\n")
print(mystr)

['I', 'am', 'a', 'student', 'of', 'Sitare.', 'I', 'live', 'in', 'Lucknow.', 'I', 'am', 'studying', 'Python', 'Programming.']


I am a student of Sitare.
I live in Lucknow.
I am studying Python Programming.

# Join Function

In [14]:
mystr_list = mystr.split()
print(mystr_list)
print("\n")
print(" ".join(mystr_list))
print("\n")
print("".join(mystr_list))
print("\n")
print("**".join(mystr_list))

['I', 'am', 'a', 'student', 'of', 'Sitare.', 'I', 'live', 'in', 'Lucknow.', 'I', 'am', 'studying', 'Python', 'Programming.']


I am a student of Sitare. I live in Lucknow. I am studying Python Programming.


IamastudentofSitare.IliveinLucknow.IamstudyingPythonProgramming.


I**am**a**student**of**Sitare.**I**live**in**Lucknow.**I**am**studying**Python**Programming.

# String Formatting

In [15]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [16]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
# Escape Characters : https://www.w3schools.com/python/python_strings_escape.asp
# String Methods : https://www.w3schools.com/python/python_strings_methods.asp

**String Exercises**

1. Write a python function that takes a string as input, and returns the string in reverse order.

2. Write a python function that takes a string as input, and returns the number of vowels in it.

3. Write a python function that takes a string as input, and returns the string with the first letter of each word capitalised.

4. Write a python function that takes a string as input, and returns the number of words in it. Use space as a separator for words.

5. Write a python function that takes a string as input, and returns the length of the longest word in it. Use space as a separator for words.

6. Write a python function that takes a string as input, and returns if its a valid email address.

7. Write a python function that takes a string as input, and returns if its a valid mobile number in India.

8. Implement a simple encryption algorithm that can encrypt and decrypt strings.

9. Write a python function that takes in a string and checks if its a palindrome.

10. Write a python function that takes two strings as input, and checks if they are the same string or not. If they are not the same string, it should also output the number of characters in which they differ from each other.

11. Write a python function that takes in a paragraph as input, and returns a list of sentences. Use full-stop, exclamation and question mark as the three allowed delimiters between sentences.

In [2]:
mystr_1= '''ram is a good boy'''
print(mystr_1)
revers_1=''''''

ram is a good boy

In [3]:
def revers_2(n):
    global revers_1
    a= len(n)
    for i in range(a):
        revers_1+=n[(a-1)-i]
    return revers_1
revers_2(mystr_1)

'yob doog a si mar'

In [4]:
revers_3=''''''
def func_vow(n):
    vowles='''a,e,i,o,u'''
    global revers_3
    for i in n:
        if i in vowles:
            revers_3+=i
    return revers_3

func_vow(mystr_1)

'aiaooo'

In [13]:
my_1='''vinod and bhupendra jogi'''
def func_space(n):
    a=" "
    for i in range(len(n)):
        b=n[i]
        if b in a:
            c=(n[i+1].upper())
            n=n.replace(n[i+1],c)
        if i==0:
            c=(n[i].upper())
            n=n.replace(n[i],c)
    return n
func_space(my_1)

'Vinod And BhupendrA Jogi'

In [15]:
c=0
def func_count(n):
    global c
    a=" "
    for i in range(len(n)):
        b=n[i]
        if b in a:
            c+=1
    return c
func_count(my_1)

3